@page "/"

<h1>Hello, world!</h1>.test
<RummyTable></RummyTable>
<style>
  .cube {
  border: 1px solid #000;
  width: 50px;
  height: 100px;
  display: flex;
    justify-content: center;
    align-items: center; 
    background: beige;
  }
    .table-current-player-personal-table{
        background: #f0f0f0;
        display: flex;
    }
    .cubeset{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        row-gap: 10px;
        border: 1px blue dashed;
    }
    .cubeset-locked{
      background-image: linear-gradient(45deg, red 25%, transparent 25%), linear-gradient(-45deg, red 25%, transparent 25%), linear-gradient(45deg, transparent 75%, red 75%), linear-gradient(-45deg, transparent 75%, red 75%);
      background-size: 20px 20px;
      background-position: 0 0, 0 10px, 10px -10px, -10px 0px;}
    .cube-1{
    color: red;
    }
    .cube-2{
    color: blue;
    }
    .cube-3{
        color: green;
        }
        .cube-4{
                color: black;
                }
                
                 .cube-5{
                                color: purple;
                                }
                                 .cube-6{
                                                                color: orange;
                                                                }
</style>