.cube {
    border: 1px solid #000;
    width: 50px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: beige;
    font-weight: bolder;
    &--1 {
        color: red;
    }

    &--2 {
        color: blue;
    }

    &--3 {
        color: green;
    }

    &--4 {
        color: black;
    }

    &--5 {
        color: purple;
    }

    &--6 {
        color: orange;
    }
    &--7 {
        color: pink;
    }
}